@import 'semantic-ui';
@import 'doctors';
@import 'patients';

.doctor-show-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    h1 {
        margin: 20px 0;
    }

    h3 {
        margin: 20px 0;
        font-weight: 300;
    }
}
.container {
    padding: 50px 0;

    .patient-title {
        text-align: center;
        padding: 10px 0;
    }

    .user-info {
        width: 50%;
        margin: 0 auto;
        
    }
}

.patient-list{
    thead {
        th {
            text-align: center;
        }
    }
}



